
{% extends 'home/base.html' %}
{% load static %}

{% block 'title' %} Profile {% endblock %}
{% block 'content' %}

<section class="page-header">
    <div class="container">
        <div class="page-header__inner text-center text-dark">
            <h2 class="text-dark">Donation List</h2>
            <ul class="thm-breadcrumb ">
                <li><a href="{% url 'viewproject' user.id %}">Project</a></li>
    


                <li><span>-</span></li>
                <li>Donation List</li>
            </ul>
        </div>
    </div>
</section>


<div class=" container ">

    <img class="img-radius profile-image" src="{{user.photo.url}}" alt="Card image cap" style="width:100%; max-width: 300px;height: 100%;max-height: 300px;"> 
    <div class="card-body">
        <h5 class="card-title username" style="font-size: 2em; color: yellow;">{{user.username}}</h5>
        <p class="card-text"><span class="data">First Name: </span><span>{{user.first_name}}</span></p>
        <p class="card-text"><span class="data">Last Name: </span><span>{{user.last_name}}</span></p>
        <p class="card-text"><span class="data">Email: </span><span>{{user.email}}</span></p>
        <p class="card-text"><span class="data">Phone: </span><span>{{user.phone}}</span></p>
        <p class="card-text"><span class="data">Country: </span><span>{{user.country}}</span></p>
        <p class="card-text"><span class="data">facebook_link: </span><span>{{user.facebook_link}}</span></p>
        <p class="card-text"><span class="data">date_birth: </span><span>{{user.date_birth}}</span></p>


        <p class="card-text">
            <br/>
            <br/>
            <a href="{% url 'deleteprofile' user.id %}" class="btn btn-outline-danger  active" role="button"
               aria-pressed="true">Delete Account</a>
            <a href="{%url 'viewproject' user.id %}" class="btn btn-outline-success  active" role="button"
               aria-pressed="true">View Project</a>

        </p>








</div>










{% endblock %}